:root{
  --white: #ffffff;
  --light-grey: #676f9d;
  --medium-grey: #424769;
  --dark-grey: #2d3250;
  --yellow: #f9b17a;
}
* {
    margin: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: white ;
}


main{
  padding-bottom: 20px;
}

body, p, h1, h2, h3, a{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Inter', sans-serif;
}

header{
  position: fixed;
  width: 100%;
}

section{
  margin-bottom: 20px;
}

.form{
  display: flex;
  justify-content: center;
  background-color: var(--white);
  border-top: solid 2px var(--medium-grey);
  border-bottom: solid 2px var(--medium-grey);
}
ul{
  list-style: none;
  padding: 10px;
  margin: 0;
  width: 100%;
}

li{
  margin-bottom: 10px;
  text-align: left;
}

label {
  display: block;
  margin-bottom:8px;
  color: var(--medium-grey);
  font-weight: 600;
  font-size: 18px;
}

input{
  width: 100%;
  border: none;
  border-bottom: solid 1px #3e426d ;
  background-color: transparent;
}
input:focus, input:not(focus){
  border: none;
  box-shadow: 0;
  outline: none;
  border-bottom: solid 1px var(--dark-grey);
  color:var(--dark-grey);
  font-size: 18px
}

input::placeholder{
  color:var(--light-grey);
  font-size: 18px;
}


.navbar{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color:#3E426D;*/
  background-color:var(--dark-grey) ;
  width: 80px;
  height: 65px;
  border-bottom-left-radius: 20px;
}

.logo img{
  border: solid 2px #6e8da3;
  border-radius: 50%;
  padding: 4px;
  width: 40px;
  
  
  
}

.logo p{
  font-size: 20px;
  font-weight: 100;
}

.menu-icon{
  width: 25px;
  
}

.menu-options{
  display: flex;
  background-color:var(--white);
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-bottom-right-radius: 20px;
}

.menu-options a{
  margin-right: 25px;
 /* padding-right: 30px; */
 /* padding-bottom: 5px; */
 /* padding-top: 5px; */
}


.menu-options > a:last-child {
  
  margin-right: 0px;
  
}

.menu-options--active{
  display: flex;
  align-items: center;
  /*background-color:#6e8da3;*/
  background-color: var(--light-grey);
  padding: 5px 10px;
  border-radius: 20px;
}

.menu-options--active p{
  /* background-color: red; */
  /*color: #3E426D;*/
  color: var(--dark-grey);
  padding-left: 5px;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.cover img{
  
  
  width: 100%;
}

.img_about img{
  width: 100%;
}

.hidden{
  display: none;
}

.title_home, .text_about, .text_projects, .footer_message{
  padding: 8px;
}

.button{
  width: 100%;
  border: none;
  font-size: 18px;
  background-color: var(--medium-grey);
  color: var(--white);
  padding: 5px;
}

.title-form{
  text-align: center;
  font-size: 22px;
  color: var(--medium-grey);
  font-weight: 600;
}

.icons_list{
  display: flex;
  justify-content: center;
}

.icons_list li a img{
  width: 35px;
}

.icons_list li{
  padding-left: 10px;
}

.icons_list li:first-child{
  padding-left: 0;
}

.copy{
  text-align: center;
}

.img_projects img{
  width: 100%;
}
